body{
    background-image: url("../images/underwater.gif");
    background-repeat: repeat-x;
    background-size: cover;
    width: 100%;
    height: auto;
}

.header{
    width: 100%;
}

#logo{
    float: left;
    width: 250px;
    height: 125px;
    display: inline;
}

#title{
    width: 400px;
    margin-top: -5em;
    margin-left: 18em;
    display: inline;
}

#bubble1{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

#bubble2{
    width: 75px;
    margin-left: 60em;
}

#bubble3{
    width: 125px;
    margin-left: 75em;
}

#bubble4{
    width: 75px;
    margin-top: -10em;
    margin-left: 5em;
}

#whale{
    width: 250px;
    margin-right: -10em;
    margin-left: auto;
}

#octopod{
    width: 200px;
    margin-left: 5em;
}

.top-level{
    height: 10em;
}

.mid-level{
    height: 30em;
}

.bottom-level{
    height: 15em;
}

#change{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

#lobster, #sebastian{
    width: 150px;
}

#lobster:hover{
    display: none;
    background-image: url(../images/sebastian.png);
}




