body{
    background-image: url("../images/underwater.gif");
    background-repeat: repeat-x;
    background-size: cover;
    width: 100%;
    height: auto;
}

.header{
    width: 100%;
}

#logo{
    float: left;
    width: 250px;
    height: 125px;
    display: inline;
}

#title{
    width: 400px;
    margin-top: 5em;
    margin-left: 18em;
    display: inline;
}


#whale{
    width: 250px;
    margin-right: -20em;
    margin-left: auto;
}

#octopod{
    width: 200px;
    margin-left: 5em;
}

.top-level{
    height: 10em;
}

.mid-level{
    height: 30em;
}

.bottom-level{
    height: 15em;
}

#change{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#lobster, #sebastian{
    width: 150px;
    display: inline-block;
    
}

#horse{
    width: 300px;
    position: absolute;
}

#blowfish{
    width: 175px;
    margin-top: 10em;
    margin-left: 50em;
    transition: all 0.3s ease-in-out 0s;
}

#blowfish:hover{
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}

#ray{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#octopus{
    margin-top: -20em;
    margin-left: auto;
}

#croc{
    width: 350px;
    margin-left: 60em;
}

#snap{
    width: 300px;
    margin-left: 60em;
    margin-top: -15em;
}

#jelly{
    width: 200px;
    margin-left: 140em;
    margin-top: -20em;
}

#sandy{
    width: 200px;
    margin-top: 5em;
    margin-left: 10em;
}

#shellington{
    width: 150px;
    margin-left: 5em;
}

#seahorse{
    width: 100px;
    margin-left: 40em;
}

#ship{
    position: absolute;
    width: 400px;
    margin-left: 80em;
    margin-top: -40em;
}

#shark{
    width: 350px;
    margin-left: 80em;
    margin-top: -50em;
}

#fish1{
    width: 200px;
    margin-top: 5em;
    margin-left: 90em;
}

#dolphin{
    width: 200px;
    margin-top: -20em;
    margin-left: 120em;
}

#fish2{
    width: 100px;
    height: 75px;
    margin-left: 30em;
    margin-top: -20em;
}

#castle{
    width: 350px;
    margin-top: -50em;
    margin-left: -10em;
}




