body{
    background-image: url("../images/underwater.gif");
    background-repeat: repeat-x;
    background-size: cover;
    width: 100%;
    height: auto;
}

.header{
    width: 100%;
}

#logo{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 125px;
}

#title{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#bubble{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

#whale{
    width: 200px;
    margin-right: -10em;
    margin-left: auto;
}

#octopod{
    width: 200px;
    margin-left: 5em;
}

.top-level{
    height: 10em;
}

.mid-level{
    height: 30em;
}

.bottom-level{
    height: 15em;
}
